@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

/* GENERAL STYLES */
html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 40px;
  margin: 40px;
}

/* NAVIGATION BAR */
#navigation-bar {
  background-color: #f1c40f;
  display: block;
  padding: 15px 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: right;
  font-weight: bold;
}
#name {
  float: left;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}
.navigation-item {
  padding: 0 20px 0 10px;
  text-decoration: none;
  color: black;
}
.navigation-item:hover {
  text-decoration: underline;
}
.navigation-item:focus {
  background-color: white;
}
#name:hover {
  text-decoration: underline;
}
#name:focus {
  background-color: white;
}
/* INTRODUCTION SECTION */
#intro-section {
  background-color: #ecf0f1;
  height: 100vh;
  padding-top: 30px;
}
.intro-content {
  max-width: 80vw;
  text-align: center;
  margin: 0 auto;
}
.intro-image {
  width: 200px;
}
p {
  padding: 20px;
  font-size: 20px;
}

/* LINKS */
#icon-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 60px;
  margin-top: 50px;
}
.icon-item {
  width: 50px;
  align-self: center;
  justify-self: center;
}
.icon-item:hover {
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -moz-transform: scale(1.5); /* Firefox */
  -ms-transform: scale(1.5); /* IE 9 */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

/* PROJECTS SECTION */
.projects-content {
  max-width: 80%;
  margin: 0 auto;
}
#projects-grid-container {
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
}

/* CONTACT SECTION */
.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* FOOTER SECTION */
.site-footer {
  padding: 40px 0;
  font-size: 16px;
  margin: 0;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  #projects-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project img {
    width: 100%;
  }
}
